@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Courgette&family=Readex+Pro&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Arimo', sans-serif;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f7f7f7;
}


/* Navbar */

div#navbar {
    display: flex;
    position: fixed;
    background-color: #f7f7f7;
    width: 88%;
    height: 6.5%;
    top: 0;
    left: 12%;
    right: 0;
    border-bottom: 1px solid #9dacb3;
}

@media (max-width: 1440px) {
    div#navbar {
        display: flex;
        background-color: #f7f7f7;
        width: 85%;
        height: 6.5%;
        top: 0;
        left: 15%;
        right: 0;
        border-bottom: 1px solid #9dacb3;
    }
}

a h2#navbar-title {
    font-family: 'Readex Pro', sans-serif;
    font-weight: 200;
    margin-top: 10px;
    margin-left: 10%;
    color: rgb(28, 26, 32);
    width: 100%;
}

#btn-exit {
    position: absolute;
    right: 1%;
    margin-top: 1%;
}

h3#user_name {
    position: absolute;
    right: 10%;
    margin-top: 1%;
}

div#search {
    position: absolute;
    right: 35%;
    margin-top: 0.7%;
}

div#search input {
    background-color: white;
    border: none;
    width: 300px;
    height: 35px;
    border-radius: 8px;
    outline: none;
    padding: 10px;
    font-size: 16px;
}

a#dark-theme-svg {
    position: absolute;
    right: 30%;
    margin-top: 1.2%;
    color: rgb(28, 26, 32);
}


/* Menu right */

div#menu-right {
    position: fixed;
    background-color: #f7f7f7;
    width: 15%;
    height: 93.5%;
    top: 6.5%;
    bottom: 0;
    right: 0;
    border-left: 1px solid #9dacb3;
}

@media (max-width:1440px) {
    div#menu-right {
        position: fixed;
        background-color: #f7f7f7;
        width: 18%;
        height: 93.5%;
        top: 6.5%;
        bottom: 0;
        right: 0;
        border-left: 1px solid #9dacb3;
    }
    h5 {
        font-size: 12px;
    }
}

form#cashback-form {
    width: 90%;
    border: 1px dashed #12b14c;
    background-color: rgba(18, 179, 66, .1);
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    margin-left: 5%;
    margin-top: 5%;
}

h5#cashback-title {
    font-weight: 600;
    color: #2db964;
}

p#cashback-summa {
    color: #12b14c;
}

form#credit-form {
    width: 90%;
    border: 1px dashed #b11212;
    background-color: #f9282824;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    margin-left: 5%;
    margin-top: 5%;
}

h5#credit-title {
    font-weight: 600;
    color: #f92828;
}

p#credit-summa {
    color: #ff0000;
}

div#select-balans {
    font-family: 'Readex Pro', sans-serif;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

select#currency {
    margin-top: -2%;
    margin-left: 5%;
    width: 50%;
    border-radius: 8px;
    height: 30px;
    outline: none;
}

div#total-balans {
    font-family: 'Readex Pro', sans-serif;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

a#svg-total-balans-hide {
    color: #777272;
    position: absolute;
    right: 5%;
}

a#svg-total-balans-reload {
    color: #777272;
    position: absolute;
    right: 18%;
}

div#balans form {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 10px;
}

#uzcard-logo {
    position: absolute;
    background: white;
    left: 7%;
    border: 1px solid lightgray;
    border-radius: 50%;
    margin-top: 2%;
}

#cash-logo {
    position: absolute;
    background-color: white;
    left: 7%;
    border: 1px solid lightgray;
    border-radius: 50%;
    margin-top: 2%;
}

#humo-logo {
    position: absolute;
    left: 7%;
    border: 1px solid lightgray;
    border-radius: 50%;
    margin-top: 2%;
}

div#cours-table {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid lightgray;
    width: 100%;
    padding: 15px;
}

p#cours-title {
    color: #777272;
    font-size: 14px;
    margin-left: 4%;
}

span#cours-summa {
    color: black;
    font-size: 14px;
}


/* Menu left */

div#menu-left {
    position: fixed;
    background-color: rgb(28, 26, 32);
    width: 12%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
}

@media (max-width:1440px) {
    div#menu-left {
        position: fixed;
        background-color: rgb(28, 26, 32);
        width: 15%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
    }
}

div.logo {
    font-family: 'Courgette', cursive;
    color: #f7f7f7;
    text-align: center;
}

div.logo h1 {
    font-family: 'Courgette', cursive;
    color: red;
    font-size: 2em;
}

div.logo span {
    font-family: 'Courgette', cursive;
    color: #f7f7f7;
}

#pay-svg {
    color: #f7f7f7;
    font-weight: 500;
    font-size: 18px;
    margin-left: 10%;
}

#credit-svg {
    color: #f7f7f7;
    font-weight: 500;
    font-size: 18px;
    margin-left: 10%;
}

#exchange-svg {
    color: #f7f7f7;
    font-weight: 500;
    font-size: 18px;
    margin-left: 10%;
}

#inquiry-credit-svg {
    color: #f7f7f7;
    font-weight: 500;
    font-size: 18px;
    margin-left: 10%;
}

#monitoring-svg {
    color: #f7f7f7;
    font-weight: 500;
    font-size: 18px;
    margin-left: 10%;
}

#report-svg {
    color: #f7f7f7;
    font-weight: 500;
    font-size: 18px;
    margin-left: 10%;
}

#collection-money-svg {
    color: #f7f7f7;
    font-weight: 500;
    font-size: 18px;
    margin-left: 10%;
}

#collection-monitoring-svg {
    color: #f7f7f7;
    font-weight: 500;
    font-size: 18px;
    margin-left: 10%;
}


/* window */

div#window {
    background-color: #f7f7f7;
    width: 73%;
    height: 100%;
    margin-top: 60px;
    margin-left: 12%;
    margin-right: 15%;
}

p#welcome {
    text-align: center;
    font-size: 30px;
    margin-top: 30%;
}

div#type-payments {
    display: inline-block;
    width: 100%;
}

div#type-payments button {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 8px;
    width: 120px;
    height: 120px;
    margin-left: 3%;
    cursor: pointer;
    margin-bottom: 2%;
}

div#type-payments button:hover {
    background-color: rgba(18, 179, 66, .1);
    opacity: calc(5);
    border: 1px solid #12b14c;
}

div#type-payments button img {
    width: 64px;
    height: 64px;
    margin-top: 3%;
}

div#exchange-uzs-usd {
    position: absolute;
    background-color: white;
    width: 30%;
    top: 10%;
    left: 35%;
    border-radius: 8px;
}

div#exchange-usd-uzs {
    display: none;
    position: absolute;
    background-color: white;
    width: 30%;
    top: 10%;
    left: 35%;
    border-radius: 8px;
}

h4#exchange-header {
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

div#exchange-table form {
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 10px;
}

div#exchange-table form img {
    position: absolute;
    left: 7%;
}

div#exchange-table form p {
    font-weight: 600;
    margin-left: 13%;
}

div#exchange-table form h5 {
    font-weight: 600;
    margin-left: 13%;
}

form#exchange-cours-form {
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 5px;
}

input#exchange_input_one {
    background-color: #f7f7f7;
    border: none;
    border-radius: 8px 0 0 8px;
    padding: 10px;
    margin-left: 5%;
    width: 80%;
    height: 50px;
    font-size: 18px;
    outline: none;
}

input#exchange_input_two {
    background-color: #f7f7f7;
    border: none;
    border-radius: 8px 0 0 8px;
    padding: 10px;
    margin-left: 5%;
    width: 80%;
    height: 50px;
    font-size: 18px;
    outline: none;
}

input#exchange_input_one_two {
    background-color: #f7f7f7;
    border: none;
    border-radius: 8px 0 0 8px;
    padding: 10px;
    margin-left: 5%;
    width: 80%;
    height: 50px;
    font-size: 18px;
    outline: none;
}

input#exchange_input_two_two {
    background-color: #f7f7f7;
    border: none;
    border-radius: 8px 0 0 8px;
    padding: 10px;
    margin-left: 5%;
    width: 80%;
    height: 50px;
    font-size: 18px;
    outline: none;
}

input#label {
    background-color: #f7f7f7;
    border: none;
    border-radius: 0 8px 8px 0;
    padding: 10px;
    width: 10%;
    height: 50px;
    font-size: 18px;
    outline: none;
}

button#exchange_btn_buy {
    background-color: #f7f7f7;
    border: 1px solid #f1f1f1;
    border-radius: 8px;
    padding: 10px;
    margin-left: 5%;
    width: 90%;
    height: 50px;
    font-size: 18px;
    margin-bottom: 15px;
}

button#exchange_btn_sell {
    background-color: #f7f7f7;
    border: 1px solid #f1f1f1;
    border-radius: 8px;
    padding: 10px;
    margin-left: 5%;
    width: 90%;
    height: 50px;
    font-size: 18px;
    margin-bottom: 15px;
}

div.info-error-exchange {
    display: none;
    text-align: center;
    background-color: #f9282824;
    color: #f92828;
    width: 80%;
    margin-left: 10%;
    padding: 10px;
    border-radius: 8px;
}

div.info-success-exchange {
    text-align: center;
    background-color: rgba(18, 179, 66, .1);
    color: #2db964;
    width: 80%;
    margin-left: 10%;
    padding: 10px;
    border-radius: 8px;
}

div#inquiry {
    position: absolute;
    background-color: white;
    width: 50%;
    top: 10%;
    left: 25%;
    border-radius: 8px;
}

h4#inquiry-header {
    padding: 10px;
    text-align: center;
    font-size: 22px;
}

input#inquiry_input_summa {
    background-color: #f7f7f7;
    border: none;
    border-radius: 8px;
    padding: 10px;
    margin-left: 5%;
    margin-top: 4%;
    width: 90%;
    height: 50px;
    font-size: 18px;
    outline: none;
}

input#inquiry_input_user {
    background-color: #f7f7f7;
    border: none;
    border-radius: 8px;
    padding: 10px;
    margin-left: 5%;
    margin-top: 4%;
    width: 90%;
    height: 50px;
    font-size: 18px;
    outline: none;
}

button#inquiry_btn {
    background-color: #f7f7f7;
    border: 1px solid #f1f1f1;
    border-radius: 8px;
    padding: 10px;
    margin-left: 5%;
    margin-top: 4%;
    width: 90%;
    height: 50px;
    font-size: 18px;
    margin-bottom: 15px;
}

div.info-error-inquiry {
    display: none;
    text-align: center;
    background-color: #f9282824;
    color: #f92828;
    width: 80%;
    margin-left: 10%;
    padding: 10px;
    border-radius: 8px;
}

div.info-success-inquiry {
    display: none;
    text-align: center;
    background-color: rgba(18, 179, 66, .1);
    color: #2db964;
    width: 80%;
    margin-left: 10%;
    padding: 10px;
    border-radius: 8px;
}

div#monitoring-window {
    background-color: white;
    border-radius: 8px;
    width: 90%;
    margin-left: 5%;
    margin-top: 1%;
}

img#monitoring-cash-img {
    border-radius: 8px;
}

table#monitoring_table {
    width: 90%;
    margin-left: 5%;
    border-collapse: collapse;
}

h4#monitoring-header {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    font-size: 20px;
}

tr.monitoring-line:hover {
    background-color: #f7f7f7;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #d1d2d4;
}

div#report-window {
    background-color: white;
    padding: 10px;
    width: 30%;
    margin-left: 35%;
    border-radius: 8px;
}

h4#report-header {
    padding: 10px;
    text-align: center;
    font-size: 25px;
}

div.info-error-report {
    display: none;
    text-align: center;
    background-color: #f9282824;
    color: #f92828;
    width: 80%;
    margin-left: 10%;
    padding: 10px;
    border-radius: 8px;
}

div.info-success-report {
    text-align: center;
    background-color: rgba(18, 179, 66, .1);
    color: #2db964;
    width: 80%;
    margin-left: 10%;
    padding: 10px;
    border-radius: 8px;
}

form#report-form input {
    outline: none;
    width: 40%;
    margin-top: 5%;
    border: 1px solid lightgray;
    border-radius: 5px;
}

form#report-form select {
    border: 1px solid lightgray;
    border-radius: 5px;
    outline: none;
    width: 40%;
    margin-top: 5%;
    margin-left: 10%
}

form#report-form label {
    width: 20px;
    margin-top: 5%;
    margin-left: 10%;
}

input#date {
    margin-left: 2.5%;
}

select#type-pay {
    margin-left: 12.5%;
}

button#report-btn {
    background-color: #f7f7f7;
    border: 1px solid #f1f1f1;
    border-radius: 8px;
    padding: 10px;
    margin-left: 10%;
    width: 80%;
    height: 50px;
    font-size: 18px;
    margin-bottom: 15px;
    cursor: pointer;
}

div#collection-window {
    position: absolute;
    background-color: white;
    width: 30%;
    top: 10%;
    left: 35%;
    border-radius: 8px;
}

h4#collection-header {
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

div#collection-table form {
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 8px;
    padding: 10px;
}

input#collection-input {
    background-color: #f7f7f7;
    border: none;
    border-radius: 8px;
    padding: 10px;
    margin-left: 5%;
    width: 90%;
    height: 50px;
    font-size: 18px;
    outline: none;
}

button#collection-btn {
    background-color: #f7f7f7;
    border: 1px solid #f1f1f1;
    border-radius: 8px;
    padding: 10px;
    margin-left: 15%;
    width: 70%;
    height: 50px;
    font-size: 18px;
    margin-bottom: 15px;
}

div.info-error-collection {
    display: none;
    text-align: center;
    background-color: #f9282824;
    color: #f92828;
    width: 70%;
    margin-left: 15%;
    padding: 10px;
    border-radius: 8px;
}

div.info-success-collection {
    display: none;
    text-align: center;
    background-color: rgba(18, 179, 66, .1);
    color: #2db964;
    width: 70%;
    margin-left: 15%;
    padding: 10px;
    border-radius: 8px;
}

form#collection-form select {
    border: 1px solid lightgray;
    border-radius: 5px;
    outline: none;
    width: 56%;
    margin-top: 5%;
    padding: 5px;
}

form#collection-form label {
    width: 20px;
    margin-top: 5%;
    margin-left: 10%;
}

input#summa {
    width: 81%;
    padding: 10px;
    background-color: #f7f7f7;
    margin-top: 5%;
    margin-left: 10%;
    outline: none;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: 15px;
}

div.info_modal {
    display: none;
    width: 40%;
    transform-origin: center center;
    max-width: 580px;
    margin-left: 25%;
    position: fixed;
    top: 10%;
    background-color: white;
    border-radius: 15px;
    border: 1px solid #d5d5d5;
    height: 520px;
    -webkit-overflow-scrolling: touch;
    z-index: 99;
    overflow: hidden;
    transition: transform 0.15s ease 0s, opacity 0.15s ease 0s;
    transform: scale(1);
}

div.content-left {
    float: left;
    width: 65%;
    border-radius: 15px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    height: 520px;
    overflow: hidden;
}

div.content-right {
    float: right;
    width: 30%;
    background-color: lightgray;
    height: 520px;
    border-radius: 0px 10px 10px 0px;
    overflow: hidden;
}

div.print_dubl_chek {
    background-color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 37px;
    margin-top: 50px;
}

div.print_dubl_chek:hover {
    background-color: rgb(240, 240, 242);
}

div.print_dubl_chek img {
    text-align: center;
    margin-top: 18px;
}

div#credit-window {
    background-color: white;
    border-radius: 8px;
    width: 90%;
    margin-left: 5%;
    margin-top: 1%;
}

table#credit_table {
    width: 90%;
    margin-left: 5%;
    border-collapse: collapse;
}

div.pay_credit img {
    text-align: center;
    margin-top: 9px;
}

div.pay_credit {
    background-color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 37px;
    margin-top: 50px;
}

div.pay_credit:hover {
    background-color: rgb(240, 240, 242);
}